.lm-table-top {
  border: 1px solid var(--bs-border-color);
  border-bottom: none;
  padding: 16px 32px 16px 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lm-title-search-wrapper {
  display: flex;
  align-items: center;
}
.lm-title-search-wrapper input[type="text"].form-control {
  background-color: #fff;
  border: 1px solid var(--bs-gray-200);
}
.lm-title-search-wrapper input[type="text"].form-control:hover {
  border-color: var(--bs-primary-700);
}
.lm-title-search-wrapper input[type="text"].form-control:focus {
  border-color: var(--bs-primary-800);
}
.lm-title-search-wrapper input[type="text"].customers-search-input {
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.33266' cy='7.19252' r='5.35902' stroke='%238C8C8C' stroke-width='1.5' stroke-linecap='square'/%3E%3Cpath d='M10.9912 11.1389L14.0269 14.1667' stroke='%238C8C8C' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E");
  width: calc(100vw * 560 / 1700);
}

.leadoma .table td.have-badge {
  padding-top: 8px;
  padding-bottom: 7px;
}
.contains-badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contains-badge > div {
  display: flex;
  overflow-x: overlay;
  max-width: 330px;
}
.contains-badge > div::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  cursor: auto;
}

.contains-badge > div::-webkit-scrollbar-track {
  background-color: #25252500;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.contains-badge > div::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #61616188;
}

.table .color-bar {
  display: inline-block;
  width: 160px;
  height: 16px;
  margin-bottom: -3px;
  background-color: var(--tag-color);
  border-radius: 2px;
}


.square-tag-color {
  --tag-border-color: var(--tag-color);
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid var(--tag-border-color);
  background-color: var(--tag-color);
  border-radius: 2px;
  cursor: pointer;
  transition: border 0.2s;
  margin: 2px;
}
.tag-colors-container {
  display: flex;
}
.tag-colors-container .current-color {
  border-right: 1px solid var(--bs-gray-200);
  padding-right: 12px;
  margin-right: 10px;
  margin-top:2px;
}
.tag-colors-container .current-color .square-tag-color {
  margin: 0;
  --border-color: black;
  border-color: var(--border-color);
}
.tag-colors-container .square-tag-color:hover {
  --border-color: black;
  transition: border 0.2s;
  border-color: var(--border-color);
}

/* .leadoma .table:not(.table-loading) ~ .table-loader-container{
  display: none;
}
.leadoma .table.table-loading tbody{
  display: none;
} */